body {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input::placeholder {
    color: #5a6c885c !important;
}

h1 {
    font-weight: 800;
}

.animation-video {
    width: 100%;
}

.grecaptcha-badge {
    display: none;
}

.navbar-icon {
    border-radius: 5px;
}

.navbar-font {
    font-weight: 400;
}

.top-background {
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.play-store-badge {
    max-width: 100%;
    max-height: 100%;
}

.store-badge {
    width: 170px;
    height: 50px;
}

.app-store-badge {
    max-width: 100%;
    max-height: 100%;
}

.carousel {
    height: 100%;
}

.carousel-top {
    font-size: 60px;
    color: rgb(0, 100, 115);
}

.carousel-bottom {
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.margin-top {
  margin-top: 5vw;
}

.bullet-point {
    margin-top: 2.5vw;
    text-align: left;
    list-style-type: circle;
}

.carousel-bottom-secondary {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 15px;
}

.other-sections-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 15px;
}

.lead-cta {
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(0, 100, 115);
    border-color: rgb(9, 138, 158);
    border-radius: 0.5rem;
}

.lead-cta:hover {
    background-color: rgb(2, 78, 89);
    border-color: rgb(9, 138, 158);
}

.lead-cta:active {
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(1, 20, 77) !important;
    box-shadow: 0 0 0 3px rgb(9, 138, 158) !important;
}

.lead-cta:focus {
    box-shadow: 0 0 0 3px rgb(9, 138, 158);
}

.cta-btn-disclaimer {
    font-size: 12px;
    text-align: center;
}

.account-sync {
    padding: 60px 25px;
    position: relative;
    z-index: 1;
}

.first-div {
    background: linear-gradient(to bottom right, rgb(0, 100, 115), rgb(9, 138, 158));
    color: white;
}

.features-div {
    background: linear-gradient(to bottom right, rgb(0, 100, 115), rgb(9, 138, 158));
    height: 700px;
    color: white;
}

.features-div-2 {
    background-color: #ffffff;
}

.features-phone {
    max-width: 400px;
    z-index: 1;
    top: 220px;
    position: relative;
}

.third-div {
    background: linear-gradient(to bottom right, rgb(0, 100, 115), rgb(9, 138, 158));
    color: white;
    height: 500px;
}

.security-div {
    background: rgb(0, 0, 0);
    color: white;
}

.shield {
    height: 240px;
}

.feature-image {
    height: 100px;
}

.account-sync-internal {
    height: 100%;
}

.center-text-primary {
    text-align: center;
}

.other-sections-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 15px;
}

.center-text-secondary {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

.left-text {
    font-size: 30px;
}

.right-text {
    font-size: 30px;
    text-align: right;
}

.left-text-primary {
    font-size: 40px;
    font-weight: 700;
}

.left-text-secondary {
    font-size: 20px;
    font-weight: 100;
}

.subheading {
    text-align: left;
    font-size: 20px;
}

.left-text-disclaimer {
    font-size: 12px;
}

.testimonial-image-container {
    margin: auto;
    max-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.testimonial-image {
    border-radius: 50%;
}

.testimonial-text {
    text-align: center;
    font-size: 14px;
}

.testimonial-signature {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.phone-stack {
    position: relative;
}

.phone-top {
    min-width: 300px;
    position: relative;
    z-index: 1;
}

.phone-standalone {
    max-width: 300px;
}

.device::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    transform: scale(.9);
    box-shadow: 0px 0px 12px 1px #000000;
}

.phone-stacked-1 {
    position: relative;
    z-index: 1;
    right: -60px;
    transform: scale(0.95);
}

.phone-stacked-2 {
    position: relative;
    z-index: 2;
}

.phone-stacked-3 {
    position: relative;
    z-index: 1;
    left: -60px;
    transform: scale(0.95);
}

.carousel-bottom-faq {
    text-align: left;
}

.carousel-bottom-anchor { 
    color: blue;
}

.carousel-bottom-text-faq {
    font-size: 24px;
    font-weight: 500;
}

b.primary {
    color: rgb(0, 100, 115);
}   


/* FAQ styles */

.faq-top {
    height: 300px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.faq-sidebar {
    font-size: 30px;
    font-weight: 500;
}

.faq-container {
    margin-top: 30px;
}

.section-block {
    margin-bottom: 20px;
}

.faq-question {
    color: #849abc;
    font-size: 24px;
    font-weight: 500;
}

.faq-answer {
    font-weight: 500;
}

a.blue {
    color: blue;
}


.footer-text {
    text-align: center;
}

.footer-text a {
    color: blue;
}

.text-align-center {
    text-align: center;
}


/* Privacy */

.section-privacy {
    margin-top: 5vw;
}


/* Mobile Styles */

@media (max-width:960px) {
    .shield {
        height: auto;
        margin-bottom: 30px;
    }

    .features-phone {
        top: 30px;
    }

    .features-div {
    height: 850px;
    }

    .top-background {
        margin-bottom: 40px;
        height: auto;
    }

    .phone-standalone {
        margin-top: 30px;
        min-width: 85vw;
    }

    .phone-top {
        min-width: 85vw;
        position: relative;
        z-index: 1;
    }

    .carousel-top {
        font-size: 40px;
    }

    .carousel-bottom-secondary {
        font-size: 24px;
        font-weight: 500;
    }

    .other-sections-title {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 15px;
        /*padding-left: 30px;
        padding-right: 30px;*/
    }

    .bullet-point{
      margin-top: 2.5vw;
      text-align: left;
      list-style-type: circle;
      font-size: 16px;
      font-weight: 500;
    }

    .center-text-primary {
    }

    .heading-secondary {
        font-size: 28px;
        font-weight: 500;
    }

    .subheading {
        text-align: center;
        font-size: 20px;
        padding: 0;
    }


    .center-text-secondary {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: auto;
    }

    .carousel-bottom {
        font-size: 24px;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .left-text {
        text-align: center;
    }

    .mobile-display {
        max-width: 70%;
        margin: 50px;
    }

    .left-text-primary {
        font-size: 26px;
        font-weight: 700;
    }

    .left-text-secondary {
        font-size: 20px;
        font-weight: 500;
    }

    .left-text-disclaimer {
        font-size: 14px;
    }

    .mobile-testimonial-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq-sidebar {
        font-size: 26px;
    }

    .faq-question {
        font-weight: 500;
        font-size: 18px;
    }

    b.primary {
        color: rgb(0, 100, 115);
    }

    .testimonial-text {
        font-weight: 500;
        margin-bottom: 5px;
    }

    .testimonial-signature {
        margin-bottom: 20px;
    }

    .heading-section {
        padding: 0;
    }

    .email-input {
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }
}
