<head>
    <meta charset="utf-8">
    <title>Planto.io Privacy | Money Management simplified with automatic expense and budget tracking</title>
    <meta name="description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
    <link rel="canonical" href="https://planto.io"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Open Graph data -->
    <meta property="og:title"
          content="Planto.io | Track expenses, set a budget, manage investments and remain in control"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://planto.io/"/>
    <meta property="og:image" content="https://planto.io/assets/expenses.png"/>
    <meta property="og:description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals"/>
    <meta property="og:site_name" content="Planto"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Planto.io | Track expenses, set a budget, manage investments and remain in control">
    <meta itemprop="description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals">
    <meta itemprop="image" content="https://planto.io/assets/expenses.png">
</head>

<body>
<header>
    <a class="cd-logo planto-logo" href="index.html"><img src="assets/icon.png" alt="Logo"></a>
</header>
<nav>
    <ul class="cd-primary-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="faq.html">FAQs</a></li>
        <!-- <li><a href="#0">About Us</a></li> -->
        <li><a href="#">Privacy</a></li>
        <li><a href="terms.html">Terms</a></li>
        <!-- <li class="mt-4">
            <div><img class="play-store-badge play-top-badge" src="/assets/google-play-badge.png"></div>
            <div><img class="app-store-badge app-top-badge" src="/assets/app-store-badge.svg"></div>
        </li> -->
    </ul>
</nav>
<main class="cd-content">
    <!-- your content here -->
</main>
<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- cd-overlay-nav -->
<div class="cd-overlay-content">
    <span></span>
</div>
<!-- cd-overlay-content -->
<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<div class="section-privacy">
    <div class="container">
        <h2 class="sectionTitle">Planto’s Privacy Statement</h2><br>

        <p>Keeping you and your data safe and secure</p>

        <div class="statements"><h3 class="datePosted" data-reactid="47">Posted: December 11, 2017 (v1.0)</h3><br>

            <h4 class="statementTitle">1. Introduction</h4>
            <div class="statement">
                <p>Planto (hereby also referred to as ‘we’ and ‘us’) is a software as a service (SaaS) platform that
                    offers account aggregation, automated budget data aggregation and portfolio visualization via a
                    mobile application. Security and safety of our clients’ data and information is top priority. We
                    explain here how we handle and protect your information. This was also constructed in accordance to
                    the Laws of Hong Kong and the Personal Data (Privacy) Ordinance ("The Ordinance"). This Privacy
                    Policy explains why and the way we will collect and use your data and the measures being, and to be,
                    taken to ensure that your data stays secure and confidential.</p>
            </div>


            <h4 class="statementTitle">2. Our Privacy Principles</h4>
            <div class="statement">
                <p>Planto builds its business on trust between our customers and us. To preserve the confidentiality of
                    all personal data you provide to us, we maintain the following privacy principles:</p>
                <ol>
                    <li>We <b>do not</b> collect any personal data that links any data on the Planto mobile interface to
                        your personal identity
                    </li>
                    <li>We maintain strict security systems designed to prevent unauthorised access to your personal
                        data by anyone, including our staff
                    </li>
                    <li>All members of the Planto team who are permitted access to any data are specifically required to
                        observe our confidentiality obligations
                    </li>
                    <li>We will not disclose your personal data to any external organisation unless we (i) have your
                        consent or (ii) are required by law or (iii) have previously informed you
                    </li>
                </ol>
                <p>By maintaining our commitment to these principles, we at Planto will ensure that we respect the
                    inherent trust that you place in us.</p>
            </div>

            <h4 class="statementTitle">3. Data we collect</h4>
            <div class="statement">
                <p>We want to be clear about what information we collect and how we use it to deliver our Services to
                    you, improve your financial life, operate our business, and help make our Services useful, more
                    intelligent, and work better for you. We do not sell or share your Personal Information with third
                    parties for their own commercial uses without your consent.</p><br>
            </div>

            <h5 class="statementTitle">3a. Types of Information We Collect: </h5><br>
            <div class="statement">
                <ol>
                    <li>Information you provide us: In connection with accessing our Services, we do not collect
                        information from you which can be used to identify you ("Personal Information"), such as your
                        email address, HKID or Passport number. We leverage iOS’s and Android’s built in biometric
                        authentication tools to provide end users added security to ensure no authorized access to
                        Planto application can be made. The user is provided an option to store their banking
                        credentials on their device encrypted with a security key stored in Planto’s server. This
                        encrypted key is used to unlock your banking credentials when user logs in Planto’s mobile area
                        to refresh user’s financial data. Planto reserves no rights whatsoever to store or collect your
                        banking credentials in our server or store any information then what is stated within this
                        Privacy Policy.
                    </li>
                    <br>
                    <li>Information we get from your use of the Services: Planto may record certain non-personal
                        information such as application usage and browsing activity, application activity (such as UI
                        elements). Along with cookies, Planto may also use third-party tracking technologies, such as
                        Mixpanel and Google Analytics, to record similar information regarding you and your activity on
                        the Planto application. We may grant access to your data and information to certain trusted
                        third party services providers that we work with, but only to perform the service on our behalf
                        with restricted access to customer data and information on a need-to-know basis only, and in
                        compliance with this Privacy Statement.
                    </li>
                    <br>
                    <li>Information that we collect from Financial Institutions: Where you use the Services to access
                        your financial account(s) with Financial Institution(s), we will retrieve and collect the
                        following information about your financial account ("Financial Account Data") with that
                        Financial Institution for the purpose of providing the Services to you:
                    </li>
                    <br>
                    <ol type="a">
                        <li>financial account details</li>
                        <ol type="i">
                            <li>Account Description like "HKD Savings"</li>
                            <li>Currency for the account</li>
                            <li>Balance for general accounts & Total Portfolio balance for Investment and MPF accounts
                            </li>
                            <li>Payment due date for Credit Card accounts</li>
                            <li>Credit Limit for Credit Card accounts</li>
                        </ol>
                        <br>
                        <li>transactions details per account from (a)</li>
                        <ol type="i">
                            <li>Transaction amount</li>
                            <li>Date</li>
                            <li>Description</li>
                            <li>Currency</li>
                        </ol>
                    </ol>
                </ol>
            </div>
            <div class="statement">Any changes to the collection of financial information from the institutions will be
                communicated to the user by way of notification through the application and changes to this privacy
                policy.
            </div>
            <br>

            <h4 class="statementTitle">4. Use of your data and information</h4><br>

            <h5 class="statementTitle">4a. Our Data Principles</h5>
            <div class="statement">We use the Financial Account Data & Personal Information in order to deliver the
                Planto service you have subscribed to. We will maintain such data as strictly confidential and will not
                sell, lease or distribute the same to any third party (other than certain trusted third party service
                providers involved in the operations of our business and performing services on our behalf, with
                restricted access to customer data and information, on a need-to-know basis only, and in compliance with
                this Privacy Statement) without your documented approval, unless we are required or requested to do so
                by law or any regulatory authority for the jurisdiction that we operate in. For the avoidance of doubt,
                Financial Account Data & Personal Information for this purpose does not include information that is
                aggregated with similar data from other users to produce Metadata as described below, or is otherwise no
                longer identifiable to any specific Planto user.
            </div>
            <br>
            <h5 class="statementTitle">4b. Metadata</h5>
            <div class="statement">For the purpose of producing statistical collective data amongst Planto users
                (“Metadata”), we may aggregate your Personal Financial Data together with similar data from other Planto
                users. Metadata will be produced in such a manner that the underlying data will be no longer
                identifiable to any specific user. We may share Metadata amongst Planto users as part of the service
                provided, and also with our business partners and other third parties to help us make improvements
                and/or enhancements to our products and services and for marketing, research and academic purposes.
                Metadata cannot be linked to an individual in any way.
            </div>
            <br>
            <h5 class="statementTitle">4c. Use of Personal Information</h5>
            <div class="statement">At Planto, our number one focus is customer trust. The security of all information is
                important to us. We understand the need for our customers’ data to be completely secure and private, and
                we have designed and deployed (as a part of the Planto Services) a state-of-the-art system to ensure we
                do not collect any of your personal information.
            </div>
            <div class="statement">Whilst we take all reasonable steps to implement and comply with all measures, please
                be informed that these measures are provided on a best-effort basis. In the event any such Personal
                Identification Information is inadvertently captured either in your Planto user area or in any report
                generated by Planto, please immediately notify us so that we may promptly rectify the situation.
            </div>
            <br>

            <h4 class="statementTitle">5. Data Deletion Policy & Data Retention</h4><br>
            <div class="statement">You have the right to request that your Planto account or any data within your Planto
                account be deleted from our primary production servers. You own your data. Anytime you want your data
                removed from our systems, you can request us to delete your account from our production servers by
                contacting us at privacy@planto.io or by simply selecting the account and deleting it on your planto app
                user area. As a result, data linked to your Planto registeration ID be excised permanently from our
                production servers and further access to your account will be impossible. Your anonymous aggregate data
                may be stored on these servers indefinitely. We reserve the right to use any anonymous aggregate data
                derived from use of service provided by Planto.
            </div>
            <br>

            <h4 class="statementTitle">6. Data Security</h4><br>
            <h5 class="statementTitle">6a. Online Confidentiality</h5>
            <div class="statement">Planto (the mobile application) requires a username (anonymized) and a password
                and/or biometric verification to log in. You must keep your credentials secure and never disclose them
                to any third party. You are responsible for maintaining the confidentiality of your credentials. We
                require you to use strong passwords between 6-16 characters long that are difficult for others to guess.
                We recommend that you change your password periodically. Your online security is also your
                responsibility; you must secure your credentials, including your password, against unauthorized access
                and use. When you suspect that your credentials have been stolen or been made known to others, you must
                change them immediately and contact us promptly at privacy@planto.io. Planto is not responsible for any
                loss or damage resulting from access to your account by anyone through your credentials obtained from
                you or through violation of this Privacy Policy or Planto’s Terms of Service. Contact us at
                privacy@planto.io if you have a security related concern and we will work closely with you to ensure a
                rapid and personal response to your concerns.
            </div>
            <br>

            <h5 class="statementTitle">6b. Notice of Security Breach </h5>
            <div class="statement">If a security breach causes an unauthorized intrusion into our systems that
                materially affects users then Planto will notify you of the security breach without undue delay and,
                where feasible, not later than seventy-two (72) hours after having become aware of it, by describing the
                nature of the security breach, the data that has been, or Planto reasonably believes to have been,
                compromised and the immediate actions taken by Planto with respect thereto. Planto will later report the
                measures we’ve taken to mitigate potential adverse effects and prevent continuing or similar security
                breaches in the future.
            </div>
            <br>

            <h5 class="statementTitle">6c. Safeguarding your Information </h5>
            <div class="statement">Our Services ensure secure communications with encryption. From the time you submit
                your credentials, these communications between your computer and our Services are encrypted. This
                enables client and server applications to communicate in a way that is designed to prevent
                eavesdropping, tampering and message forgery. To maintain your security of online sessions, and to
                protect Planto accounts and systems from unauthorized access, Planto uses a combination of firewall
                barriers, encryption techniques and authentication procedures, among others. Our system will always
                prompt you to enter your credentials for your privacy and security. The information that is collected,
                for example your Registration Information, is transmitted securely to our servers. Access to our systems
                requires multiple levels of authentication. Planto databases are protected from general employee access.
                We make sure that your Banking credentials and Planto credentials are encrypted such that they can never
                be recovered even by us. Planto tests its systems, the Website and Services infrastructure for any
                failure points that might allow hacking. However, it is important to understand that these precautions
                apply only to our Website, systems and Services.
            </div>
            <br>

            <h4 class="statement"> 7. Communicating with us </h4>
            <div class="statement">
                <p>We offer two specific communication methods that are designed to maintain your anonymity in the
                    course of your interaction with us.</p>
                <p>The first communication method is to utilise the customer service messaging box found in the Planto
                    user area on the mobile application as a “Chat” icon.</p>
                <p>The second communication method is via anonymous email. Upon opening your account, we will ask you to
                    register an email address that will be linked to your Planto account. We encourage you to set up an
                    email address which contains no information from which your personal identity may be inferred, for
                    the sole use of Planto. If required, we can guide you on the setup of such an email address.</p>
                <p>Aside from the above, you may still communicate with us via telephone, third party internet voice and
                    chat providers, social media communication channels or via any email address that you regularly use.
                    In such cases, we may receive information that discloses or could be used to establish your
                    identity. We will, however, respect the confidentiality of such information (as with any other
                    information that we receive from you) and will only use and/or retain the information strictly in
                    accordance with our usage policy (see Use of Your Data and Information below).</p>
            </div>
            <br>

            <h4 class="statementTitle">8. Pricing </h4>
            <div class="statement">
                <p>
                    Planto is free to download and free to use. We allow users to simply be on the platform at no
                    charge. If there are any changes to this, we will notify our users way ahead of time. We respect the
                    confidentiality of any such information and will only use and/or retain the information strictly in
                    accordance with our usage policy (see Use of Your Data and Information below).
                </p>
            </div>

            <h4 class="statementTitle">9. Changes </h4>
            <div class="statement">
                <p>
                    Your use of this mobile application is subject to these Terms of Use. By using the mobile
                    application, you are deemed to have accepted and agree to be bound by these Terms of Use. We may
                    make changes to these Terms of Use from time to time. We may notify you of such changes by any
                    reasonable means, including by posting the revised version of these Terms of Use on the Site. Your
                    use of the the application following changes to these Terms of Use will constitute your acceptance
                    of those changes. These Terms of Use will be governed by and construed in accordance with the laws
                    of Hong Kong.
                </p>
            </div>

            <h4 class="statementTitle">10. Contact</h4>
            <div class="statement">
                <p>
                    If you have questions or concerns about this Privacy Statement or about our use or retention of your
                    Personal Identification Information or Personal Financial Data, please contact us via email at
                    ask@planto.io, or via or contact us between
                </p>
            </div>

            <div class="account-sync container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 footer-text">
                        <div>
                            <a href="/">Home</a>&nbsp&nbsp•&nbsp&nbsp
                            <a href="/faq.html">FAQ</a>&nbsp&nbsp•&nbsp&nbsp
                            <a href="/terms.html">Terms</a>&nbsp&nbsp•&nbsp&nbsp
                            <a href="/privacy.html">Privacy</a>
                        </div>
                        <div>© Planto.io 2017</div>
                        <div><a href="mailto:hello@planto.io">hello@planto.io</a></div>
                    </div>
                </div>
            </div>


     <script type="text/javascript"
                        src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                        crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                        crossorigin="anonymous"></script>
                <script type="text/javascript" src="js/velocity.min.js"></script>
                <script type="text/javascript" src="js/modernizr.js"></script>
                <script type="text/javascript" src="js/navbar.js"></script>
                <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
    window.ga = function() { ga.q.push(arguments) };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-108254657-1', 'auto');
    ga('send', 'pageview')
    </script>
    <script src='js/autoplay.js'></script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

                </html>
