<head>
    <meta charset="utf-8">
    <title>Planto.io | Money Management simplified with automatic expense and budget tracking</title>
    <meta name="description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="canonical" href="https://planto.io"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Open Graph data -->
    <meta property="og:title"
          content="Planto.io | Track expenses, set a budget, manage investments and remain in control"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://planto.io/"/>
    <meta property="og:image" content="https://planto.io/assets/expenses.png"/>
    <meta property="og:description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals"/>
    <meta property="og:site_name" content="Planto"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Planto.io | Track expenses, set a budget, manage investments and remain in control">
    <meta itemprop="description"
          content="Planto syncs with your bank accounts to automatically categorize all your transactions, helping you understand your spending patterns, setting a budget and helping you meet your goals">
    <meta itemprop="image" content="https://planto.io/assets/expenses.png">

</head>

<body>
<header>
    <a class="cd-logo planto-logo" href="index.html"><img src="assets/icon.png" alt="Logo"></a>
</header>
<nav>
    <ul class="cd-primary-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="faq.html">FAQs</a></li>
        <!-- <li><a href="#0">About Us</a></li> -->
        <li><a href="privacy.html">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <!-- <li class="mt-4">
            <div><img class="play-store-badge play-top-badge" src="/assets/google-play-badge.png"></div>
            <div><img class="app-store-badge app-top-badge" src="/assets/app-store-badge.svg"></div>
        </li> -->
    </ul>
</nav>
<main class="cd-content">
    <!-- your content here -->
</main>
<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- cd-overlay-nav -->
<div class="cd-overlay-content">
    <span></span>
</div>
<!-- cd-overlay-content -->
<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<div class="section-privacy">
    <div class="container">
        <h2 class="sectionTitle">PRE-RELEASE SOFTWARE TERMS OF USE</h2><br>

        <p>Keeping you and your data safe and secure</p>

        <div class="statements"><h3 class="datePosted" data-reactid="47">Posted: December 11, 2017 (v1.0)</h3><br>

            <br>
            <div class="statements">PLEASE READ ALL OF THE FOLLOWING TERMS AND CONDITIONS OF THE Planto BETA PROGRAM
                AGREEMENT ("AGREEMENT") CAREFULLY. BY REGISTERING ON PLANTO MOBILE APPLICATION, YOU AGREE TO BE BOUND BY
                ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT
            </div>
            <br>
            <h4>1 Participation in the Planto Beta Program</h4>
            <br>
            <div class="statements">1.1 The purpose of the Planto Beta Program (“Beta Program”) is to make alpha, beta,
                and other pre-release software, pre-release services, and related documentation, materials, and
                information (collectively, the “Pre-Release Software”) available to Beta Program participants from time
                to time for the purpose of providing Planto Ltd. with feedback on the quality and usability of the
                Pre-Release Software. You understand and agree that participation in the Beta Program is voluntary and
                does not create a legal partnership, agency, or employment relationship between you and Planto Ltd.. You
                understand that your participation in the Beta Program does not obligate Planto Ltd. to provide you with
                any Pre-Release Software. We reserve the right to modify the terms, conditions, and policies of this
                Beta Program at any time without notice, and to revoke your participation in this Beta Program at any
                time.
            </div>
            <br>
            <div class="statements">1.2 You also certify that you are of the legal age of majority in the jurisdiction
                in which you reside (at least 18 years of age in many countries) and you represent that you are legally
                permitted to join the Beta Program. This Agreement is void where prohibited by law and the right to
                become a Beta Program participant is not granted in such jurisdictions. Unless otherwise agreed or
                permitted by us in writing, you cannot share or transfer any software or other materials you receive
                from Planto Ltd. in connection with being a Beta Program participant. The Planto Ltd. ID and password
                you use to login as a Beta Program participant cannot be shared in any way or with any one. You are
                responsible for maintaining the confidentiality of your ID and password and for any activity in
                connection with your account. Notwithstanding the foregoing restrictions in this Clause 1, if you are
                the parent or legal guardian of individuals between the ages of 13 and the legal age of majority in the
                jurisdiction in which you reside, you may allow such individuals to share your ID and password for their
                use in connection with the Beta Program solely under your supervision and only in accordance with this
                Agreement. You are responsible for such individuals’ compliance with and violations of this Agreement
                and any other Planto Ltd. agreements.
            </div>
            <br>

            <h4>2 Access to Pre-Release Software, Seeding Tools and Additional Terms</h4>
            <br>
            <div class="statements">2.1 You understand that we may make Pre-Release Software available to Beta Program
                participants for downloading online through the Android Play Store and/or IOS App Store provided through
                the Beta Program. From time to time, Planto Ltd., at its option, may also provide you with software or
                services as part of the Beta Program, including but not limited to scripts, code snippets, utilities,
                configuration profiles, sample code, troubleshooting applications and bug submission tools (“Seeding
                Tools”) as part of your participation in the Beta Program. All use of such Pre-Release Software and
                Seeding Tools shall be pursuant to the terms and conditions of this Agreement and/or another license
                agreement accompanying such Pre-Release Software or Seeding Tools (collectively, “Pre-Release Software”
                and “Seeding Tools” shall be referred to as “Company Software” for purposes of this Agreement).
            </div>
            <br>
            <div class="statements">2.2 If the Company Software is accompanied by a separate license agreement, you
                agree that the license agreement accompanying such Company Software, in addition to Clauses 5 and 6 of
                this Agreement, shall govern your use of the Company Software. Any inconsistencies between the
                provisions of the license agreement accompanying the Company Software and Clause 5 and 6 of this
                Agreement shall be governed by this Agreement. If there is no license agreement accompanying the Company
                Software, your use of the Company Software will be subject to the provisions of this Agreement.
            </div>
            <br>
            <h4>3 License Grant and Restrictions</h4>
            <br>
            <div class="statements">Subject to your compliance with this Agreement, Planto Ltd. hereby grants you a
                personal, limited license to use the Company Software solely for testing and evaluation purposes and
                only in connection with this Beta Program. Except as otherwise permitted under Clause 15, this license
                does not grant you the right to use the Company Software for any other purpose, or to disclose,
                reproduce, distribute, modify or create derivative works of the Company Software. You agree not to
                decompile, reverse engineer, disassemble, decrypt, or otherwise attempt to derive the source code of any
                Company Software (except as and only to the extent the foregoing restrictions are prohibited by
                applicable law, or to the extent as may be permitted by licensing terms governing use of open-sourced
                components included with any such Company Software). Unless otherwise permitted under Clause 15 below,
                you certify that the Company Software will only be used for testing and evaluation purposes in
                connection with the Beta Program, and will not be rented, sold, leased, sublicensed, assigned,
                distributed or otherwise transferred. Planto Ltd. retains ownership of all Company Software, and except
                as expressly set forth herein, no other rights or licenses are granted or to be implied under any Planto
                Ltd. intellectual property.
            </div>
            <br>

            <h4>4 Feedback</h4>
            <br>
            <div class="statements">As part of the Beta Program, we will provide you with the opportunity to submit bug
                reports, questionnaires, enhancement requests, issue reports and/or support information (collectively,
                “Feedback”) to Planto Ltd.. We may request this information from you through the Seeding Tools as well
                as by email, web questionnaires, in-app chatbox, bug forms, and other mechanisms. By agreeing to this
                Agreement, you agree that Planto Ltd. may contact you from time to time about the Beta Program, and you
                hereby consent to receive such communications. Except as otherwise set forth in Clause 8, you agree that
                in the absence of a separate written agreement to the contrary, we will be free to use any Feedback you
                provide for any purpose.
                <br><br>

                <h4>5 Precautions for the use of Pre-Release Software</h4>
                <br>
                <div class="statements">5.1 You understand that to participate in seeds of Pre-Release Software you may
                    need to remove certain pre-loaded, commercial software from your mobile device in order to load the
                    Pre-Release Software. You further understand that once you load such Pre-Release Software onto your
                    mobile device, you may be unable to revert back to the pre-loaded, commercial release of the
                    software you were using prior to loading the Pre-Release Software or any earlier release of the
                    Pre-Release Software. In addition, applications and services you have installed or been using may be
                    unable to run or function in the same manner because of your use of the Pre-Release Software. YOU
                    ACKNOWLEDGE THAT BY INSTALLING SUCH PRE-RELEASE SOFTWARE ON YOUR mobile device, THESE mobile devices
                    MAY NOT BE CAPABLE OF BEING RESTORED TO THEIR ORIGINAL CONDITION AND THAT APPLICATIONS AND SERVICES
                    MAY BE AFFECTED BY YOUR USE OF PRE-RELEASE SOFTWARE. FURTHER, YOU UNDERSTAND THAT DATA (INCLUDING
                    DOCUMENTS) FROM SUCH APPLICATIONS OR SERVICES THAT YOU CREATE OR CHANGE WHILE USING THE PRE-RELEASE
                    SOFTWARE MAY BE INCAPABLE OF BEING RESTORED OR RECOVERED. PLANTO LTD. SHALL NOT BE RESPONSIBLE FOR
                    ANY COSTS, EXPENSES OR OTHER LIABILITIES YOU MAY INCUR AS A RESULT OF YOUR TESTING, INSTALLATION OR
                    USE OF PRE-RELEASE SOFTWARE, INCLUDING BUT NOT LIMITED TO ANY DAMAGE TO ANY EQUIPMENT, SOFTWARE OR
                    DATA OR ANY LOSS OF DATA OR INFORMATION ARISING FROM YOUR USE OF SUCH PRE-RELEASE SOFTWARE. In
                    addition, the Pre-Release Software may contain errors or inaccuracies that could cause failures,
                    corruption or loss of data and/or information from your mobile device and from peripherals
                    (including, without limitation, servers and printers) connected thereto.
                </div>
                <br>

                <h4>6 Consent to Collection and Use of Data</h4>
                <br>
                <div class="statements">6.1 Pre-Release Versions of Planto. In order to test and improve our products
                    and services, you acknowledge that Planto Ltd. and its subsidiaries and agents will be collecting,
                    using, storing, processing and analysing (collectively, "Collecting") diagnostic, technical, usage,
                    and/or related information from your mobile devices that are running pre-release versions of Planto
                    as part of this Beta Program. This information will be Collected in a form that does not personally
                    identify you except an email address and may be Collected from such mobile devices at any time. The
                    information that would be Collected includes, but is not limited to, general diagnostic and usage
                    data, various unique system or hardware identifiers, information about your mobile device, system
                    and application software, and peripherals, and, if Location Services is enabled, the real-time
                    geographic location of your mobile device and location search queries. By installing or using
                    pre-release versions of Planto on your mobile device, you acknowledge and agree that Planto Ltd. and
                    its subsidiaries and agents have your permission to Collect all such information and use it as set
                    forth above. If you do not agree to the foregoing, you may delete your account from Planto at any
                    point.
                </div>
                <br>
                <div class="statements">6.2 Other Pre-Release Software and services. In order to test and improve our
                    products and services, and only if you choose to install or use other Pre-Release Software or
                    services provided as part of the Beta Program, you acknowledge that Planto Ltd. and its subsidiaries
                    and agents may be Collecting diagnostic, technical, usage and related information from other
                    Pre-Release Software or services and from your mobile device, peripherals or other hardware that
                    uses such Pre-Release Software. You should carefully review the release notes and other information
                    disclosed to you by Planto Ltd. as part of the Beta Program prior to choosing whether or not to
                    install or use any such other Pre-Release Software or services. By installing or using such other
                    Pre-Release Software or services, you acknowledge and agree that Planto Ltd. and its subsidiaries
                    and agents have your permission to Collect any and all such information and use it as set forth
                    above.
                </div>
                <br>
                <div class="statements">6.3 System Logs and Diagnostic Files. In addition, as part of your participation
                    in the Beta Program, you will have the option of manually attaching and/or using Planto Ltd.'s
                    Seeding Tools to attach detailed hardware and/or system diagnostic files (e.g., kernel logs, hang
                    logs, crash logs, spin logs, install logs, application logs, etc.) from your mobile device ("System
                    Logs") to send to Planto Ltd.. Such System Logs may include personally identifiable information,
                    including, without limitation, your account name, information regarding your contacts, calendar
                    events, and email correspondence. Providing these System Logs is voluntary, but if you do provide
                    them to us, then you acknowledge that we may use them for Planto Ltd.'s diagnostic purposes and to
                    improve the Beta Program and Planto Ltd.'s products and services.
                </div>
                <br>
                <div class="statements">6.4 Privacy Policy. Data collected pursuant to this Clause 8 will be treated in
                    accordance with our Privacy Policy, which is incorporated by reference into this Agreement.
                </div>
                <br>
                <h4>7 No Support and Maintenance</h4>
                <br>
                <div class="statements">During your participation in the Beta Program or in a particular seed, we are
                    not obligated to provide you with any maintenance, technical or other support for the Pre-Release
                    Software. If, at Planto Ltd.'s option, such support is provided, it will be provided in addition to
                    your normal warranty coverage for your mobile device. You agree to abide by any support rules and
                    policies that Planto Ltd. provides to you in order to receive such support. You acknowledge that
                    Planto Ltd. has no express or implied obligation to announce or make available a commercial version
                    of the Pre-Release Software to anyone in the future. Should a commercial version be made available,
                    it may have features or functionality that are different from those found in the Pre-Release
                    Software licensed hereunder.
                </div>
                <br>

                <h4>8 Discussion Forums</h4>
                <div class="statements">As part of the Beta Program, you may have the ability to participate in
                    discussion forums provided by Planto Ltd. about the Pre-Release Software and other Information that
                    we may make available to you.
                </div>
                <br>

                <h4>9 No Warranty</h4>
                <br>
                <div class="statements">9.1 The Company Software provided hereunder may be designated as alpha, beta,
                    development, pre-release, untested, or not fully tested versions. The Company Software may be
                    incomplete and may contain errors or inaccuracies that could cause failures, corruption and/or loss
                    of data or information. You expressly acknowledge and agree that, to the extent permitted by
                    applicable law, all use of the Company Software is at your sole risk and that the entire risk as to
                    satisfactory quality, performance accuracy and effort is with you. Planto Ltd. IS PROVIDING ALL
                    INFORMATION, INCLUDING THE PRE-RELEASE SOFTWARE AND SEEDING TOOLS, TO YOU SOLELY ON AN “AS IS” BASIS
                    AND WITHOUT ANY WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE
                    IMPLIED WARRANTIES OF MERCHANTIBILITY, NON-INFRINGEMENT, ACCURACY, COMPLETENESS, PERFORMANCE, AND
                    FITNESS FOR A PARTICULAR PURPOSE.
                </div>
                <br>
                <div class="statements">9.2 You acknowledge that Planto Ltd. has not publicly announced the availability
                    of the Pre-Release Software, that Planto Ltd. has not promised or guaranteed to you that such
                    Pre-Release Software will be announced or made available to anyone in the future, and that Planto
                    Ltd. has no express or implied obligation to you to announce or introduce the Pre-Release Software
                    or any similar or compatible product, or to continue to offer access to the Pre-Release Software in
                    the future.
                </div>
                <br>

                <h4>10 Disclaimer of Liability</h4>
                <br>
                <div class="statements">YOU ASSUME ALL RISKS AND ALL COSTS ASSOCIATED WITH TESTING, INSTALLATION, OR USE
                    OF THE PRE-RELEASE SOFTWARE AND SEEDING TOOLS PROVIDED UNDER THIS AGREEMENT, INCLUDING, WITHOUT
                    LIMITATION, ANY BACK-UP EXPENSES, COSTS INCURRED FOR THE USE OF THE PRE-RELEASE SOFTWARE ON YOUR
                    MOBILE DEVICE AND PERIPHERALS, AND ANY DAMAGE TO ANY EQUIPMENT, SOFTWARE, INFORMATION OR DATA. TO
                    THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT WILL Planto Ltd. BE LIABLE FOR ANY
                    INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES, WHETHER ARISING IN TORT (INCLUDING
                    NEGLIGENCE), CONTRACT OR OTHERWISE, ARISING OUT OF OR RELATED TO THIS AGREEMENT, INCLUDING ANY
                    LIABILITY THAT STEMS FROM ANY USE OF THE PRE-RELEASE SOFTWARE ON YOUR mobile device AND/OR ANY
                    PERIPHERALS CONNECTED THERETO, AND/OR FROM ANY OTHER CONFIDENTIAL INFORMATION, AND/OR Planto Ltd.'s
                    PERFORMANCE OR FAILURE TO PERFORM UNDER THIS AGREEMENT, EVEN IF IT HAS BEEN ADVISED OR IS AWARE OF
                    THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL Planto Ltd.'s TOTAL LIABILITY TO YOU FOR ALL
                    DAMAGES (OTHER THAN AS MAY BE REQUIRED BY APPLICABLE LAW IN CASES INVOLVING PERSONAL INJURY) EXCEED
                    THE AMOUNT OF ONE THOUSAND HONG KONG DOLLARS (HKD 1,000.00). THE FOREGOING LIMITATIONS WILL APPLY
                    EVEN IF THE ABOVE STATED REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
                </div>
                <br>

                <h4>10 Term and Termination</h4>
                <br>
                <div class="statements">This Agreement will continue in effect until terminated. You may terminate this
                    Agreement or an individual seeding project at any time, for any reason, We may terminate this
                    Agreement or an individual seeding project at any time, with or without cause, immediately upon
                    written notice to you, and may terminate this Agreement immediately for any breach of the provisions
                    set forth herein. Within seven (7) days of your receipt of Planto Ltd.’s termination notice, or
                    earlier if requested by Planto Ltd., you will return, cease all use of, and/or destroy the
                    Pre-Release Software as provided in this clause. Following termination of this Agreement or an
                    individual seeding project for any reason, the restrictions of Clauses 3, 4-8, the last two
                    sentences of Clause 9, and 11-19, inclusive, will continue to bind the parties.
                </div>
                <br>

                <h4>11 Third Party Software & Information</h4>
                <br>
                <div class="statements">Portions of the Company Software may include third party software and other
                    copyrighted material. Acknowledgements, licensing terms, and disclaimers for such material are
                    contained in the Company Software, and your use of such material is governed by such respective
                    terms. Mention of third parties and third party products in any materials, advertising, promotions
                    or coupons provided to Beta Program participants is for informational purposes only and constitutes
                    neither an endorsement nor a recommendation. All third party product specifications and descriptions
                    are supplied by the respective vendor or supplier, and Planto Ltd. shall have no responsibility with
                    regard to the selection, performance, or use of these vendors or products. All understandings,
                    agreements, or warranties, if any, take place directly between the vendors and the prospective
                    users.
                </div>
                <br>

                <h4>12 Waiver</h4>
                <br>
                <div class="statements">No failure or delay by a party to exercise any right or remedy provided under
                    this agreement or by law shall constitute a waiver of that or any other right or remedy, nor shall
                    it prevent or restrict the further exercise of that or any other right or remedy. No single or
                    partial exercise of such right or remedy shall prevent or restrict the further exercise of that or
                    any other right or remedy.
                </div>
                <br>

                <h4>13 Assignment and Other Dealings</h4>
                <br>
                <div class="statements">This agreement is personal to the parties and neither party shall without the
                    prior written consent of the other party assign, transfer, mortgage, charge, subcontract, declare a
                    trust over or deal in any other manner with any of its rights and obligations under this agreement.
                </div>
                <br>

                <h4>14 Governing Law</h4>
                <br>
                <div class="statements">This agreement and any dispute or claim arising out of or in connection with it
                    or its subject matter or formation (including non-contractual disputes or claims) shall be governed
                    by and construed in accordance with the laws of the Hong Kong Special Administrative Region.
                </div>
                <br>

                <h4>15 Severance</h4>
                <br>
                <div class="statements">15.1 If any provision or part-provision of this agreement is or becomes invalid,
                    illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it
                    valid, legal and enforceable. If such modification is not possible, the relevant provision or
                    part-provision shall be deemed deleted. Any modification to or deletion of a provision or
                    part-provision under this clause shall not affect the validity and enforceability of the rest of
                    this agreement.
                </div>
                <br>
                <div class="statements">15.2 If any provision or part-provision of this agreement is invalid, illegal or
                    unenforceable, the parties shall negotiate in good faith to amend such provision so that, as
                    amended, it is legal, valid and enforceable, and, to the greatest extent possible, achieves the
                    intended commercial result of the original provision.
                </div>
                <br>

                <h4>16 Entire Agreement</h4>
                <br>
                <div class="statements">16.1 This Agreement, including any appendices made effective pursuant to this
                    Agreement and any additional licenses accompanying the Company Software, constitutes the entire
                    agreement herein and supersedes all prior or contemporaneous oral or written agreements.
                </div>
                <br>
                <div class="statements">16.2 Except to the extent provided under Clause 2 above, any inconsistencies
                    between this Agreement and any license agreement accompanying the Company Software will be governed
                    by the license agreement accompanying.
                </div>
                <br>

                <h4>17 Variation</h4>
                <br>
                <div class="statements">17.1 No variation of this agreement shall be effective unless it is in writing
                    and signed by the parties (or their authorised representatives).
                </div>


                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 footer-text">
                            <div>
                                <a href="index.html">Home</a>&nbsp&nbsp•&nbsp&nbsp
                                <a href="faq.html">FAQ</a>&nbsp&nbsp•&nbsp&nbsp
                                <a href="#">Terms</a>&nbsp&nbsp•&nbsp&nbsp
                                <a href="privacy.html">Privacy</a>
                            </div>
                            <div></div>
                            <div>© Planto.io 2017</div>
                            <div><a href="mailto:hello@planto.io">hello@planto.io</a></div>
                        </div>
                    </div>
                </div>


                <script type="text/javascript"
                        src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                        crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                        crossorigin="anonymous"></script>
                <script type="text/javascript" src="js/velocity.min.js"></script>
                <script type="text/javascript" src="js/modernizr.js"></script>
                <script type="text/javascript" src="js/navbar.js"></script>
                <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
    window.ga = function() { ga.q.push(arguments) };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-108254657-1', 'auto');
    ga('send', 'pageview')
    </script>
    <script src='js/autoplay.js'></script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

                </html>
