@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../assets/fonts/AvenirNextLTProRegular.eot');
    src: url('../assets/fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
         url('../assets/fonts/AvenirNextLTProRegular.woff2') format('woff2'),
         url('../assets/fonts/AvenirNextLTProRegular.woff') format('woff'),
         url('../assets/fonts/AvenirNextLTProRegular.ttf') format('truetype'),
         url('../assets/fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular') format('svg');
}
